{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <h1><b>О нас</b></h1>
        <p>
          <b>Sound Universe</b> — это современный музыкальный портал, который предоставляет пользователям возможность
          слушать и скачивать музыку в высоком качестве. Наша платформа объединяет миллионы треков, альбомов и
          исполнителей, предлагая уникальный опыт для меломанов и ценителей музыки.
        </p>
        <h5>
          <b>На нашем портале вы можете найти:</b>
        </h5>
        <ol>
          <li><p>
            Обширная музыкальная библиотека:
            Мы предлагаем доступ к широкой коллекции музыкальных треков из различных жанров,
            включая поп, рок, хип-хоп, электронную музыку и многие другие. Пользователи могут легко находить
            своих любимых исполнителей и альбомы.
          </p></li>
          <li><p>
            Высокое качество звука:
            Мы гарантируем высокое качество аудиофайлов, чтобы пользователи могли
            наслаждаться музыкой в наилучшем звучании.
          </p></li>
          <li><p>
            Пользовательское взаимодействие:
            Пользователи могут отмечать понравившиеся песни и альбомы, а также выделять любимых артистов.
          </p></li>
          <li><p>
            Монетизация:
            Мы предлагаем различные модели оплаты, включая подписки,
            разовые покупки и рекламные предложения. Пользователи могут выбрать наиболее удобный для себя вариант.
          </p></li>
          <li><p>
            Техническая поддержка:
            Наша команда поддержки всегда готова помочь пользователям с любыми вопросами или проблемами.
          </p></li>
        </ol>
        <h5>
          <b>Как присоединиться к нам? Да очень просто!</b>
        </h5>
        <ol>
          <li><p>Зарегистрируйтесь на нашем портале, заполнив простую форму.</p></li>
          <li><p>Начните искать и слушать музыку!</p></li>
        </ol>
        <h5>
          <b>Контакты:</b>
        </h5>
        <p>Для получения дополнительной информации или обратной связи, пожалуйста,
          свяжитесь с нами по адресу электронной почты: <a href="https://vk.com/jeon__di">dsk52@tpu.ru</a>,
          чтобы мы могли помочь вам разобраться со всеми вопросами!
        </p>
        <h5>
          <b>Присоединяйтесь к Sound Universe и наслаждайтесь музыкой без ограничений!</b>
        </h5>
{% endblock %}