{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <h1><b>Наши правила</b></h1>
        <p>
          Добро пожаловать в Sound Universe! Мы стремимся создать безопасную и приятную атмосферу для всех
          пользователей. Пожалуйста, ознакомьтесь с нашими правилами поведения, чтобы обеспечить положительный опыт
          для себя и других.
        </p>
        <ol>
          <li><p>
            Легальное использование контента: Уважайте права артистов и правообладателей.
            Не размещайте или не делитесь контентом, на который у вас нет прав. Не используйте портал для загрузки
            или распространения нелегального контента, включая пиратские треки и альбомы.
          </p></li>
          <li><p>
            Безопасность и конфиденциальность: Не публикуйте личные данные (например, адреса, номера
            телефонов, пароли) на страницах профиля. Не пытайтесь обмануть других пользователей
            или запрашивать их личные данные.
          </p></li>
          <li><p>
            Запрещенные действия: Не размещайте спам-сообщения, рекламу или ссылки на сторонние ресурсы
            без разрешения администрации. Не пытайтесь обмануть пользователей, предлагая им платные услуги
            или товары, которые не существуют.
          </p></li>
          <li><p>
            Соблюдение правил: Администрация портала оставляет за собой право блокировать пользователей,
            нарушающих правила поведения. Если вы заметили нарушение правил, пожалуйста, сообщите об этом администрации.
          </p></li>
        </ol>
        <p>
          Соблюдение этих правил поможет создать дружелюбное и безопасное сообщество для всех пользователей.
          Мы благодарим вас за понимание и сотрудничество. Наслаждайтесь музыкой в Sound Universe!
        </p>
{% endblock %}